.orderCard {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 16px;
  justify-content: space-between;
  align-items: center;
  border: solid 1px black;
  border-radius: 10px;
  padding: 16px;
}

.orderCard img {
  max-height: 150px;
}
