.hero {
  background-image: url("/hero.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  flex: 1;
  overflow-y: auto;
}

.heroContent {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 16px;
  max-width: fit-content;
  position: relative;
  top: 300px;
  left: 100px;
  color: white;
  font-size: 3rem;
}

.heroContent button {
  font-size: xx-large;
  max-width: 200px;
}
