:root {
  --primary-color: #0d6efd;
}

* {
  margin: 0;
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

a:link,
a:visited,
a:hover,
a:active {
  color: inherit;
  text-decoration: none;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
}

.orderItems {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

button {
  border: none;
  padding: 16px;
  border-radius: 10px;
  font-size: larger;
  background-color: var(--primary-color);
  color: white;
}

#root {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.navbar {
  flex-shrink: 0;
}
