.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  background-color: var(--primary-color);
  color: white;
}

.logo {
  font-size: x-large;
  font-weight: bolder;
}

.navbar ul {
  display: flex;
  gap: 16px;
  list-style: none;
}
