.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 4px;
  align-items: center;
  border: solid 1px black;
  border-radius: 10px;
  padding: 8px;
}

.card img {
  height: 100px;
  width: 100%;
  object-fit: contain;
}
